.cartWidget {
    position: relative;
    color: black;
}

.cantCarrito{
    position: relative;
    left: 13%;
}
.nav-item {
    margin: 10px;
}
.cardProducto {
    width: 18rem;
    margin: 4px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
}


.cardProductos {
    margin: 4px;
    align-items: center;
    justify-content: center;
}

.cardBody {
    background-color: white;
    margin-bottom: 3px;
    text-align: center;
}

img {
    margin-top:3px;
}

.itemDetail {
    max-width: 540px;
    margin-top: 20px;
}